body {
    background-image:url('images/background-3.jpg');
}

.About {
	width: 560px;
	height: 520px;
	border: 5px solid #000000;
	margin: 20px 10px;
    padding: 0 5px;
	position: absolute;
    top: 0;
	right: 660px;
	background-color: #c4c4c4;
}


.About > p {
	font-size: 20px;
	color: #000000;
}

.imagez {
	max-width: 360px;
	margin: 15px 0 0 0;

	
}